wheel
requests
pymysql
boto3
botocore
fpdf
datetime
dataclasses
matplotlib
pandas
numpy
sqlalchemy.orm
sqlalchemy
sqlalchemy_utils
ConfigParser
pybigquery
pyathena
PyAthena[SQLAlchemy]
cryptography
poetry
fastapi
fastapi-utils
uvicorn
gunicorn
pydantic
dataclasses-json
pytest==6.2.5
aws_cdk_lib==2.39.0


